h2{
    color:indigo;
    
}
button{
    background-color: mediumturquoise;
    width:100px;
    height: 35px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid navy;
    margin-right: 1px;
    cursor: pointer;
}

input{
    width: 150px;
    height:30px;
    padding: 1px;
    border-radius: 8px;
    border: 1px solid red;
}